{% extends 'ManudevKDOGuiBundle::base.html.twig' %}

{% block content %}

<section id="#content" ng-controller="MainController as main">
    {{ '{{ main.product.name }}' }}
    <div ng-view></div>
</section>

{% endblock %}
