
<section id="#content" ng-controller="FeaturesController as features">


    <section class="section mt40">
        <div class="container">
            <div class="row col-p30">
                <div class="col-sm-4 xs-box2 br-box">
                    <div class="box-services-c">
                        <i class="icon_gift_alt fa fa-style4"></i>
                        <h3 class="title-small br-bottom-center">Free updates</h3>
                        <p class="mb0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab corrupti, quasi? Beatae cumque maiores.</p>
                    </div>
                </div>
                <div class="col-sm-4 xs-box2 br-box">
                    <div class="box-services-c">
                        <i class="icon_lifesaver fa fa-style4"></i>
                        <h3 class="title-small br-bottom-center">Premium Support</h3>
                        <p class="mb0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab corrupti, quasi? Beatae cumque maiores.</p>
                    </div>
                </div>
                <div class="col-sm-4 br-box last">
                    <div class="box-services-c">
                        <i class="icon_star_alt fa fa-style4"></i>
                        <h3 class="title-small br-bottom-center">Documentation</h3>
                        <p class="mb0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab corrupti, quasi? Beatae cumque maiores.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section mb30">
        <div class="container">
            <div class="row col-p30 mb40">
                <div class="col-sm-6 sm-box2">
                    <div class="box-services-b">
                        <div class="box-left">
                            <a data-toggle="modal" data-target="#modal"><i class="fa fa-style2 icon_mobile"></i></a></div>
                        <div class="box-right">
                            <h3 class="title-small">Responsive Design <a data-toggle="modal" data-target="#modal" class="link-read-more">read more</a></h3>
                            <p class="mb10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim temporibus quae, aliquid! Ipsam officiis obcaecati beatae temporibus quae!</p>
                            <div class="modal fade" id="modal" tabindex="-1" role="modal" aria-labelledby="modal-label" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="modal-label">Responsive design</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium atque architecto quae ullam rem labore veritatis temporibus asperiores, ad eaque odit commodi inventore dolore perspiciatis, nam dicta est eos id quod excepturi.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-b" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="box-services-b">
                        <div class="box-left"><i class="fa fa-style2 icon_box-checked"></i></div>
                        <div class="box-right">
                            <h3 class="title-small">Bootstrap based <a href="#" class="link-read-more">read more</a></h3>
                            <p class="mb10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim temporibus quae, aliquid! Ipsam officiis obcaecati beatae temporibus quae!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-p30 mb40">
                <div class="col-sm-6 sm-box2">
                    <div class="box-services-b">
                        <div class="box-left"><i class="fa fa-style2 icon_piechart"></i></div>
                        <div class="box-right">
                            <h3 class="title-small">Working widgets <a href="#" class="link-read-more">read more</a></h3>
                            <p class="mb10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim temporibus quae, aliquid! Ipsam officiis obcaecati beatae temporibus quae!</p>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="box-services-b">
                        <div class="box-left"><i class="fa fa-style2 icon_tools"></i></div>
                        <div class="box-right">
                            <h3 class="title-small">Customizable <a href="#" class="link-read-more">read more</a></h3>
                            <p class="mb10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim temporibus quae, aliquid! Ipsam officiis obcaecati beatae temporibus quae!</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row col-p30">
                <div class="col-sm-6 sm-box2">
                    <div class="box-services-b">
                        <div class="box-left"><i class="fa fa-style2 icon_cart_alt"></i></div>
                        <div class="box-right">
                            <h3 class="title-small">Ecommerce <a href="#" class="link-read-more">read more</a></h3>
                            <p class="mb10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim temporibus quae, aliquid! Ipsam officiis obcaecati beatae temporibus quae!</p>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="box-services-b">
                        <div class="box-left"><i class="fa fa-style2 icon_shield"></i></div>
                        <div class="box-right">
                            <h3 class="title-small">Reliable <a href="#" class="link-read-more">read more</a></h3>
                            <p class="mb10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim temporibus quae, aliquid! Ipsam officiis obcaecati beatae temporibus quae!</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <section class="section">
        <div class="row col-p0 max_height sm_max_height">
            <div class="col-sm-12 col-md-4">
                <div class="box-services-d box-services-e el_max_height">
                    <div class="bg-overlay"></div>
                    <div class="row col-p0">
                        <div class="col-sm-12">
                            <h3 class="title-uppercased title-shadow-a">Easy to use <a href="#" class="link-read-more">read more</a></h3>
                            <p class="mb0 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum recusandae sequi dolorum ispum asodea ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <i class="fa icon_key_alt"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="box-services-d box-services-e dark el_max_height">
                    <div class="bg-overlay"></div>
                    <div class="row col-p0">
                        <div class="col-sm-12">
                            <h3 class="title-uppercased title-shadow-a">customizable <a href="#" class="link-read-more">read more</a></h3>
                            <p class="mb0 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum recusandae sequi dolorum ispum asodea ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <i class="fa icon_tools"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="box-services-d box-services-e green el_max_height">
                    <div class="bg-overlay"></div>
                    <div class="row col-p0">
                        <div class="col-sm-12">
                            <h3 class="title-uppercased title-shadow-a">clean code <a href="#" class="link-read-more">read more</a></h3>
                            <p class="mb0 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum recusandae sequi dolorum ispum asodea ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <i class="fa icon_tag_alt"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</section>