<section class="section-intro bg-img bg11 stellar" data-stellar-background-ratio="0.4">
    <div class="bg-overlay op6"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-8">
                <h1 class="intro-title mb20">Home</h1>
                <p class="intro-p mb30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit tenetur reiciendis molestias nostrum excepturi porro dolorum amet!</p>
            </div>
        </div>
    </div>
</section>

<section id="#content">
    <section class="section-page">
        <div class="container">
            <div class="row mb50">
                <div class="col-sm-12">
                    <h2 class="project-title">Overview</h2>
                    <div class="row">
                        <div class="col-sm-12 xs-box">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, quod, nam, beatae facere vitae ipsum blanditiis reprehenderit suscipit ullam illo temporibus ipsam vero ut pariatur alias minima. Lorem ipsum dolor sit amet, beatae facere vitae temporibus.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio aperiam esse sit fugit omnis praesentium necessitatibus cum? Sint voluptas architecto, consectetur earum!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb50">

                <div class="col-sm-12 col-md-6">
                    Formulaire recherche list
                </div>

                <div class="col-sm-12 col-md-6">
                    <h2 class="project-title">Project Details</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit a, non, deleniti dolor, similique nostrum amet dicta quasi obcaecati voluptatem accusamus. Vel, laboriosam, quidem. Ex perferendis eaque quam non dolorum nihil maxime adipisci aspernatur explicabo ut repellendus nobis error, aliquid! Cum asperiores, ullam sint nisi explicabo voluptatibus mollitia optio voluptatum?</p>

                    <div class="mb40"></div>
                    <h3 class="title-small br-bottom">Why this project?</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis consequatur, quas. Accusantium soluta perspiciatis laudantium, ducimus similique laboriosam repudiandae exercitationem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid harum quibusdam aliquam vero delectus eligendi ducimus modi quae accusamus. Nulla.</p>
                </div>

            </div>


        </div>
    </section>

{#
    <section>
        <div class="row col-p0 max_height">
            <div class="col-sm-12">
                <div class="owl-carousel owl-columns3 sm-owl-cursor" data-auto-play="5500" data-stop-on-hover="true">
                    <div class="owl-el">
                        <div class="box-services-d bg-img bg07 el_max_height">
                            <div class="bg-overlay"></div>
                            <div class="row col-p0">
                                <div class="col-sm-12">
                                    <h3 class="title-medium mb0">Above and beyond<a href="#" class="link-read-more">read more</a></h3>
                                    <p><small>by John Doe <span class="py10"> / </span> 15 March, 2015</small></p>
                                    <p class="mb0 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum recusandae sequi atque voluptatum saepe suscipit veritatis voluptas! Odit, eos, consectetur. Consequatur non sed doloremque voluptates quis omnis!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-el">
                        <div class="box-services-d bg-img bg10 el_max_height">
                            <div class="bg-overlay"></div>
                            <div class="row col-p0">
                                <div class="col-sm-12">
                                    <h3 class="title-medium mb0">Imagine Dragons<a href="#" class="link-read-more">read more</a></h3>
                                    <p><small>by John Doe <span class="py10"> / </span> 15 March, 2015</small></p>
                                    <p class="mb0 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum recusandae sequi atque voluptatum saepe suscipit veritatis voluptas! Odit, eos, consectetur. Consequatur non sed doloremque voluptates quis omnis!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-el">
                        <div class="box-services-d bg-img bg19 el_max_height">
                            <div class="bg-overlay"></div>
                            <div class="row col-p0">
                                <div class="col-sm-12">
                                    <h3 class="title-medium mb0">Upside down<a href="#" class="link-read-more">read more</a></h3>
                                    <p><small>by John Doe <span class="py10"> / </span> 15 March, 2015</small></p>
                                    <p class="mb0 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum recusandae sequi atque voluptatum saepe suscipit veritatis voluptas! Odit, eos, consectetur. Consequatur non sed doloremque voluptates quis omnis!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-el">
                        <div class="box-services-d bg-img bg01 el_max_height">
                            <div class="bg-overlay"></div>
                            <div class="row col-p0">
                                <div class="col-sm-12">
                                    <h3 class="title-medium mb0">Up in the air<a href="#" class="link-read-more">read more</a></h3>
                                    <p><small>by John Doe <span class="py10"> / </span> 15 March, 2015</small></p>
                                    <p class="mb0 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum recusandae sequi atque voluptatum saepe suscipit veritatis voluptas! Odit, eos, consectetur. Consequatur non sed doloremque voluptates quis omnis!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-el">
                        <div class="box-services-d bg-img bg02 el_max_height">
                            <div class="bg-overlay"></div>
                            <div class="row col-p0">
                                <div class="col-sm-12">
                                    <h3 class="title-medium mb0">Nearby Star<a href="#" class="link-read-more">read more</a></h3>
                                    <p><small>by John Doe <span class="py10"> / </span> 15 March, 2015</small></p>
                                    <p class="mb0 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum recusandae sequi atque voluptatum saepe suscipit veritatis voluptas! Odit, eos, consectetur. Consequatur non sed doloremque voluptates quis omnis!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-el">
                        <div class="box-services-d bg-img bg11 el_max_height">
                            <div class="bg-overlay"></div>
                            <div class="row col-p0">
                                <div class="col-sm-12">
                                    <h3 class="title-medium mb0">Up and Down<a href="#" class="link-read-more">read more</a></h3>
                                    <p><small>by John Doe <span class="py10"> / </span> 15 March, 2015</small></p>
                                    <p class="mb0 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum recusandae sequi atque voluptatum saepe suscipit veritatis voluptas! Odit, eos, consectetur. Consequatur non sed doloremque voluptates quis omnis!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    #}
</section>