<section id="#content" ng-controller="PriceController as price">
    <section class="section-intro bg-img bg11 stellar" data-stellar-background-ratio="0.4">
        <div class="bg-overlay op6"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-8">
                    <h1 class="intro-title mb20">Tarifs</h1>
                    <p class="intro-p mb30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit tenetur reiciendis molestias nostrum excepturi porro dolorum amet!</p>
                </div>
            </div>
        </div>
    </section>


    <section id="#content" ng-controller="PriceController as price">
        <section class="section mt30">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="plans">
                            <div class="row col-p0">
                                    <div class="plan plan-free">
                                        <div class="plan-header">
                                            <h3 class="plan-price">
                                                <span class="plan-curency">€</span>0
                                            </h3>
                                            <h2 class="plan-title">Basic</h2>
                                        </div>
                                        <div class="clearfix">
                                            <ul class="plan-features">
                                                <li>Création de listes</li>
                                                <li>Liens sur listes externes</li>
                                            </ul>
                                        </div>
                                        <div class="plan-register"><a href="#">S'inscrire</a></div>
                                    </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-7">
                        <h3>C'est gratuit</h3>
                        <p>
                            De base, ce site est créé pour gérer les listes de la famille, des amis ainsi que les miennes.
                            Alors tant qu'a faire, si cela peut aider d'autres personnes, profitez-en vous aussi.
                        </p>
                        <p>
                            Il est ceppendant possible que dans le future une version payante soit disponible afin d'ajouter
                            de nouvelles fonctionnalités plus spéciale.
                        </p>

                    </div>
                </div>
            </div>
        </section> <!-- END Plans Section -->

    </section>
</section>