<section id="#content" ng-controller="SigninController as signin">


    <section class="section-intro bg-img bg07 stellar" data-stellar-background-ratio="0.4">
        <div class="bg-overlay op6"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-8">
                    <h1 class="intro-title mb20">Sign In</h1>
                    <p class="intro-p mb30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit tenetur reiciendis molestias nostrum excepturi porro dolorum amet!</p>
                </div>
            </div>
        </div>
    </section>

    <section class="page-sign-in mb10">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-md-6 col-md-push-6">
                    <div class="sign-in-area">
                        <h3 class="title-small br-bottom">Sign in to your account</h3>
                        <p>Don't you have an account yet? &nbsp; <a href="#signup" class="xs-block">Register</a></p>
                        <form class="form mb50">
                            <div class="form-group">
                                <div class="form-icon icon-user">
                                    <input type="text" name="user_name" required class="form-control" placeholder=" User Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-icon icon-lock">
                                    <input type="password" name="password" required class="form-control" placeholder=" Password">
                                </div>
                            </div>

                            <label class="form-remember"><input type="checkbox" name="remember" value="yes"> Remember Password </label>

                            <a href="#" class="forgot"><small>Forgot your password?</small></a>

                            <div>
                                <button type="submit" class="btn btn-d"> Sign In </button>
                            </div>
                        </form>
                        <h3 class="title-small br-bottom">Connect with you social Profile</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, error.</p>
                        <p class="mb0">
                            <a href="#" class="btn btn-bg br2 btn-icon facebook xs-block"><i class="fa fa-facebook"></i> Facebook</a>
                            <span class="mr10"></span>
                            <a href="#" class="btn btn-bg br2 btn-icon twitter xs-block"><i class="fa fa-twitter"></i> Twitter</a>
                            <span class="mr10"></span>
                            <a href="#" class="btn btn-bg br2 btn-icon google-plus xs-block"><i class="fa fa-google-plus"></i> Google+</a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-5 col-md-pull-6">
                    <div class="info-area">
                        <div class="box-services-a">
                            <h3 class="title-small"><i class="fa icon_tools fa-bg"></i> Fully customizable <a href="#" class="link-read-more">read more</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis maiores repudiandae, accusantium reiciendis!</p>
                        </div>

                        <div class="mb50"></div>

                        <div class="box-services-a">
                            <h3 class="title-small"><i class="fa icon_lightbulb_alt fa-bg"></i> Easy to use <a href="#" class="link-read-more">read more</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis maiores repudiandae, accusantium reiciendis!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>