/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/node_modules/
/bower_modules/
/bin/
/composer.phar
.idea
.tmp
/web/css
/web/assets
deployToRemote.sh
/src/Manudev/CoreBundle/Resources/public/bower
/web/fonts/
/web/uploads/

src/Manudev/KDOWebFrontendBundle
