/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/vendor/
/node_modules/
/bower_modules/
/bin/
/composer.phar
.idea
.tmp
/web/assets
deployToRemote.sh
/web/uploads/
/src/Manudev/KDOWebFrontendBundle/demo/
