
<section id="#content">
    <section class="section mt30">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">

                    <p><span class="dropcap bordered shadow">L</span>orem ipsum dolor sit amet, consectetur adipisicing elit. Ratione architecto, nihil quo, at dignissimos eos! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit minus quia quaerat? Ab ratione aliquam dignissimos.</p>
                    <p><span class="dropcap bordered shadow">L</span>orem ipsum dolor sit amet, consectetur adipisicing elit. Ratione architecto, nihil quo, at dignissimos eos! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit minus quia quaerat? Ab ratione aliquam dignissimos.</p>
                    <p><span class="dropcap bordered shadow">L</span>orem ipsum dolor sit amet, consectetur adipisicing elit. Ratione architecto, nihil quo, at dignissimos eos! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit minus quia quaerat? Ab ratione aliquam dignissimos.</p>
                    <p><span class="dropcap bordered shadow">L</span>orem ipsum dolor sit amet, consectetur adipisicing elit. Ratione architecto, nihil quo, at dignissimos eos! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit minus quia quaerat? Ab ratione aliquam dignissimos.</p>
                    <p><span class="dropcap bordered shadow">L</span>orem ipsum dolor sit amet, consectetur adipisicing elit. Ratione architecto, nihil quo, at dignissimos eos! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit minus quia quaerat? Ab ratione aliquam dignissimos.</p>
                </div>
            </div>
        </div>
    </section>
</section>