
<footer class="footer-wrapper footer-simple" ng-controller="FooterController as footer">
    <div class="container">
        <div class="row col-p30">
            <div class="col-sm-6 col-sm-push-6 xs-box">
                <div class="clearfix">
                    <div class="pull-right xs-pull-left">
                        <p class="copyright pt0"> &copy; Copyright 2015 - {{ '{{ footer.date.getFullYear() }}' }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-sm-pull-6">
                <h3 class="footer-title">Kdolist</h3>
                <a href="#contact">Contact</a>
            </div>
        </div>
    </div>
</footer>
