
<!-- Top Bar -->
<div class="topbar">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <ul class="top-menu">
                    <li><a href="#about">A propos</a></li>
                    <li><a href="#features">Fonctionnalités</a></li>
                    <li><a href="#price">Tarifs</a></li>
                    <li><a href="#terms">CGU</a></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <div class="pull-right hidden-xs">

                    <ul class="social-icon unstyled">
                        <li><a href="#"><i class="fa fa-share-alt"></i></a></li>
                        <li>
                            <a href="https://github.com/movrack/Kdolist" target="_blank">
                                <i class="fa fa-git"></i>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>