<!-- Header -->
<header class="header-wrapper">
    <div class="main-header">
        <div class="container">
            <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <a href="#/" id="headerTitle"><i class="fa fa-gift"></i> Kdolist</a>
                    </div>
                <div class="col-sm-12 col-md-9">
                    <nav class="navbar-right">
                        <ul class="menu">
                            <!-- Toggle Menu - For Mobile Devices -->
                            <li class="toggle-menu"><i class="fa icon_menu"></i></li>
                            <li>
                                <a href="#/">Acceuil</a>
                            </li>
                            <li>
                                <a href="#signin">Connection</a>
                            </li> <!-- END Shop -->
                            <!-- Always include last class to link to solve some padding issues -->
                            <li><a class="last" href="http://abusinesstheme.com/documentation/palas/index.html" target="_blank">Documentation</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div> <!-- END Container -->
    </div> <!-- END Main-Header -->
</header> <!-- END Header -->
