<section id="#content" ng-controller="AboutController as about">
    <section class="section mt30">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="title-medium br-bottom">A propos</h2>
                </div>
            </div>
            <div class="row col-p20">
                <div class="col-sm-7 xs-box2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Beatae eum iste distinctio quo aliquid veniam laudantium
                        sapiente dolores quia, pariatur et perspiciatis molestiae
                        aspernatur! Omnis asperiores, necessitatibus. Suscipit animi
                        quae cumque architecto voluptatibus pariatur. Odit esse maxime
                        aliquid nisi asperiores Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Cum eaque dolorem amet quae.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Quibusdam consectetur delectus.</p>
                </div>

                <div class="col-sm-5">
                    <div class="progress">
                        <div class="progress-bar" data-percentage="85"><span>Wordpress 85%</span></div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" data-percentage="70"><span>Drupal 70%</span></div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" data-percentage="100"><span>HTML 100%</span></div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" data-percentage="70"><span>Joomla 70%</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-bg mb0 section-gray stats-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4 xs-box">
                            <div class="stats-content">
                                <i class="fa fa-group"></i>
                                <p class="stats-timer" data-to="123" data-speed="4000"></p>
                                <div class="br-bottom-center"></div>
                                <h3>Nombre d'inscrits</h3>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 xs-box">
                            <div class="stats-content">
                                <i class="fa fa-list"></i>
                                <p class="stats-timer" data-to="1850" data-speed="4000"></p>
                                <div class="br-bottom-center"></div>
                                <h3>Nombre de listes</h3>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 xs-box">
                            <div class="stats-content">
                                <i class="fa fa-gift"></i>
                                <p class="stats-timer" data-to="1768" data-speed="4000"></p>
                                <div class="br-bottom-center"></div>
                                <h3>Nombre de cadeaux</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>