{% extends '::base.html.twig' %}
{% set cpt = 0 %}
{% block headline %}
    Cadeau réservé
{% endblock headline %}

{% block content_content %}
    {% if success %}
        {% if not isOldReservation %}
            <p>
                Votre cadeau {{ gift.name }} est réservé. Personne d'autre ne pourra l'offrir.
            </p>
        {% else %}
            <p>
                Vous avez déjà confirmer ce cadeau. Tout est en ordre.
            </p>
        {% endif %}
    {% else %}
        <p>
            Ce lien n'est plus valide. Est-ce que vous auriez annulé votre cadeau?
        </p>
    {% endif %}
    <br />
    <a href="{{ path('public_list', { 'list_id': gift.list.id, 'slug': gift.list.slug }) }}" class="btn btn-primary">
        <i class="fa fa-arrow-left"></i> Revenir à la liste de cadeau
    </a>
{% endblock %}


{% block page_script %}

{% endblock %}
