{% extends '::base.html.twig' %}

{% block headline %}
    <div style="float: right">
        {{ form(delete_form) }}
    </div>
    <h1>Gift edit</h1>

    <a class="btn btn-default" href="{{ path('lists_show', { 'id': entity.list.id }) }}">
        Retour à la liste
    </a>
{% endblock %}
{% block content_content %}

    {{ form(edit_form) }}
{% endblock %}
