{% extends '::base.html.twig' %}

{% block headline %}
    <h1>Gift creation</h1>
    <a class="btn btn-default" href="{{ path('lists_show', { 'id': entity.list.id }) }}">
        Retour à la liste
    </a>
{% endblock %}

{% block content_content %}
    {{ form(form) }}
{% endblock %}
